<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2200736693287795"
        crossorigin="anonymous"></script>
    <title>C++ CheatSheet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css"
        integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/code.css">
    <link rel="stylesheet" href="../theme-black.css">
    <link rel="stylesheet" href="./css/toggle.css">
    <link rel="stylesheet" href="./css/search.css">
    <link rel="stylesheet" href="./css/table.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--icon-->
    <link rel="icon" href="../../img/Logo.svg" type="image/icon type">

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif;
        }

        .sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <div class="top">
        <div class="bar theme top left-align large">
            <a class="bar-item button right hide-large hover-white large theme-l1" href="javascript:void(0)"
                onclick="openside()"><i class="fa fa-bars"></i></a>
            <a href="#" class="bar-item button theme-l1">Logo</a>
        </div>
    </div>

    <!-- Sidebar -->
    <nav class="sidebar bar-block collapse theme-l5 animate-left" id="sidebar">
        <a href="javascript:void(0)" onclick="closeside()" class="right xlarge padding-large hover-black hide-large"
            title="Close Menu">
            <i class="fa fa-remove"></i>
        </a>
        <input type="text" id="searchInput" onkeyup="search()" placeholder="Search.." title="Type in a category">

        <ul id="menu">
            <!--
            Comments and Code Documentation
            Defining and Calling Functions
            Function Parameters and Return Types
            Function Overloading
            Recursion
            Inline Functions and Their Usage
            Lambda Expressions in C++
            Pass by Value, Reference, and Pointer
            Understanding Function Pointers
            Using Namespaces Effectively
            Function Parameters and Return Types
            Function Overloading
            Recursion
            Inline Functions
            Lambda Expressions
            -->
            <li id="defaultOpen" class="bar-item button" onclick="toggle(event,'variables')">Variables and Data
                Types</li>
            <li class="bar-item button" onclick="toggle(event,'operators')">Operators</li>
            <li class="bar-item button" onclick="toggle(event,'constants')">Constants and Preprocessor
                Directives</li>
            <li class="bar-item button" onclick="toggle(event,'in-out')">Input and Output</li>
            <li class="bar-item button" onclick="toggle(event,'control-structures')">Control Structures</li>
            <li class="bar-item button" onclick="toggle(event,'type-casting')">Type Casting</li>
            <li class="bar-item button" onclick="toggle(event,'scope')">Scope and Lifetime of Variables</li>
            <li class="bar-item button" onclick="toggle(event,'comments')">Comments and Documentation</li>
            <li class="bar-item button" onclick="toggle(event,'defining-functions')">Defining and Calling
                Functions</li>
            <li class="bar-item button" onclick="toggle(event,'function-parameters')">Function Parameters & Return Types</li>
            <li class="bar-item button" onclick="toggle(event,'function-overloading')">Function Overloading</li>
            <li class="bar-item button" onclick="toggle(event,'recursion')">Recursion</li>
            <li class="bar-item button" onclick="toggle(event,'inline-functions')">Inline Functions</li>
            <li class="bar-item button" onclick="toggle(event,'lambda-expressions')">Lambda Expressions</li>

        </ul>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="overlay hide-large" onclick="closeside()" style="cursor:pointer" title="close side menu" id="myOverlay">
    </div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <main class="main" style="margin-left:250px">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2200736693287795"
            crossorigin="anonymous"></script>
        <!-- a -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2200736693287795"
            data-ad-slot="3711350611" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!--Variables-->
        <div class="tabcontent" id="variables">

            <div class="row padding-64">
                <div class="twothird container"><%- d0 %></div>
            </div>
        </div>

        <!--Operators-->
        <div class="tabcontent" id="operators">

            <div class="row padding-64">
                <div class="twothird container"><%- d1 %> </div>
            </div>
        </div>
        <!--Constants-->
        <div class="tabcontent" id="constants">

            <div class="row padding-64">
                <div class="twothird container"><%- d2 %></div>
            </div>
        </div>
        <!--Input and Output-->
        <div class="tabcontent" id="in-out">

            <div class="row padding-64">
                <div class="twothird container"><%- d3 %></div>
            </div>
        </div>

        <!--Control Structures-->
        <div class="tabcontent" id="control-structures">

            <div class="row padding-64">
                <div class="twothird container"><%- d4 %></div>
            </div>
        </div>

        <!--Type Casting-->
        <div class="tabcontent" id="type-casting">

            <div class="row padding-64">
                <div class="twothird container"><%- d5 %></div>
            </div>
        </div>

        <!--Scope and Lifetime of Variables-->
        <div class="tabcontent" id="scope">

            <div class="row padding-64">
                <div class="twothird container"><%- d6 %></div>
            </div>
        </div>

        <!--Comments and Documentation-->
        <div class="tabcontent" id="comments">

            <div class="row padding-64">
                <div class="twothird container"><%- d7 %></div>
            </div>
        </div>

        <!--Defining and Calling Functions-->
        <div class="tabcontent" id="defining-functions">

            <div class="row padding-64">
                <div class="twothird container"><%- d8 %></div>
            </div>
        </div>

        <!--Function Parameters and Return Types-->
        <div class="tabcontent" id="function-parameters">

            <div class="row padding-64">
                <div class="twothird container"><%- d9 %></div>
            </div>
        </div>

        <!--Function Overloading-->
        <div class="tabcontent" id="function-overloading">

            <div class="row padding-64">
                <div class="twothird container"><%- d10 %></div>
            </div>
        </div>

        <!--Recursion-->
        <div class="tabcontent" id="recursion">

            <div class="row padding-64">
                <div class="twothird container"><%- d11 %></div>
            </div>
        </div>

        <!--Inline Functions-->
        <div class="tabcontent" id="inline-functions">

            <div class="row padding-64">
                <div class="twothird container"><%- d12 %></div>
            </div>
        </div>
        <footer id="myFooter" class="theme-d3 padding-16">
            <a href="https://bumbulab.com" target="_blank"><img src="../../img/Logo.svg" width="20px">bumbulab.com</a>
        </footer>
        <style>
        </style>


        <!-- END MAIN -->
    </main>


    <script src="./js/sidebar.js"></script>
    <script src="./js/search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/11.1.0/marked.min.js"></script>
    <script src="./js/toggle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="../js/prism.js"></script>
    <script>
        Prism.highlightAll();
    </script>

</body>

</html>